

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Permanent+Marker&family=Roboto:wght@500&family=Rubik+Moonrocks&display=swap');


:root {
  --primary-color: #535252   ;
  --secondary-color: #506D19 ;
  --accent1-color: #cff7ca;
  --accent2-color: #e0834e;

  --heading-font: 'Rubik Moonrocks','Permanent Marker', cursive;
  --paragraph-font: 'Roboto', Lato, sans-serif;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}
.logo {
    height: 100px;
}
nav a {
    text-align: center;
    color: #535252;
    text-decoration: none;
    padding: 35px;
    font-size: 25px;
    font-family: var(--paragraph-font);
    width: 100%;
 }
 header {
    background-color: #50514f;
    display: grid;
    grid-template-columns: 100px auto;
}
nav {
    background-color: #e0834e;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #506D19;
    color: #cff7ca;
}

#home-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.title {
    grid-column: 4/7;
    font-family: var(--heading-font);
    color: #e0834e;
    font-size: 25px;
}
.home-image {
    display: flex;
    align-items: center;
    width: 100%;
    grid-column: 2/8;
    justify-content: center;
    background-color: #506D19;
    padding: 5px;
    margin: -5px;
    margin-top: 40px;
    box-shadow: 10px 10px 50px var(--secondary-color);
}
.home-image-container {
    grid-column: 2/8;
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: var(--paragraph-font);
    box-shadow: 7px 7px 10px black;
  }

.home-text {
    grid-column: 2/8;
    font-family: var(--paragraph-font);
    background-color: #506D19;
    padding: 25px;
    border-radius: 50px;
    color: #cff7ca;
    text-align: center;
}
.disclaimer1 {
    grid-column: 2/4;
    background-color: yellow;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    font-family: var(--paragraph-font);
    margin-top: 60px;
    box-shadow: 0px 0px 10px 1px;
}
.disclaimer2 {
    grid-column: 6/8;
    background-color: yellow;
    padding: 10px;
    border-radius: 40px;
    text-align: center;
    font-family: var(--paragraph-font);
    margin-top: 60px;
    box-shadow: 0px 0px 10px 1px;
}
.disclaimer1 h2, .disclaimer2 h2 {
    color: red;
    
}
footer a {
    color: #535252;
    text-decoration: none;
    font-size: 25px;
    font-family: var(--paragraph-font);

}
footer {
    height: 100px;
    background-color: #e0834e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}
footer .name-year {
    font-size: 25px;
    font-family: var(--paragraph-font);
    color: #535252;
}


/* TRAIL DIFFICULTIES CSS*/ 

#trail-difficulties-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.title2 {
    grid-column: 3/9;
    font-family: var(--heading-font);
    color: #e0834e;
    font-size: 25px;
    text-align: center;
}
.green-trail-image, .blue-trail-image, .black-trail-image, .double-black-trail-image {
    width: 200px;
    height: 200px;
}
.green-trail, .blue-trail, .black-trail, .double-black-trail {
    grid-column: 2/10;
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.green-trail, .blue-trail, .black-trail {
    margin-bottom: 100px;
}
.green-div {
    background-color: #88e890;
    border-radius: 50px;
}
.green-trail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.green-trail h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.green-trail p {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--paragraph-font);
}
.blue-div {
    background-color: #7da8e5;
    border-radius: 50px;
}
.blue-trail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blue-trail h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.blue-trail p {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--paragraph-font);
}
.black-div {
    background-color: #c3c3c3;
    border-radius: 50px;
}
.black-trail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.black-trail h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.black-trail p {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--paragraph-font);
}
.double-black-div {
    background-color: #c3c3c3;
    border-radius: 50px;
}
.double-black-trail img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.double-black-trail h2 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.double-black-trail p {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--paragraph-font);
}
#trail-types-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.flow-trail-img, .tech-trail-img {
    width: 100%;
}
.page-2-title {
    grid-column: 4/8;
    text-align: center;
    color: var(--accent2-color);
    font-family: var(--heading-font);
}
.trail-types-disclaimer {
    grid-column: 4/8;
    background-color: yellow;
    text-align: center;
    font-family: var(--paragraph-font);
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px;
}
.trail-types-disclaimer h2 {
    color: red;
}

.flow-trail {
    margin-top: 75px;
    grid-column: 2/10;
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-family: var(--paragraph-font);
}
.tech-trail {
    margin-top: 75px;
    grid-column: 2/10;
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-family: var(--paragraph-font);
}
.flow-div h2, .tech-div h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
.flow-div, .tech-div {
    background-color: var(--accent1-color);
    padding: 10px;
    border-radius: 25px;
}
.flow-trail-img, .tech-trail-img {
    border-radius: 25px;
}
.flow-trail p {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}
.tech-trail p {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}
.trail-types-text {
    grid-column: 3/9;
    font-family: var(--paragraph-font);
    margin-top: 75px;
}
.trail-map {
    width: 100%;
    grid-column: 2/6;
}
.trail-warning {
    width: 100%;
    grid-column: 7/10;
}






